@import "tailwindcss";
@import "tw-animate-css";


/* Optional: Styling default untuk body */
body {
  background-color: white;
}

.sx-react-calendar-wrapper {
  width: 1300px;
  max-width: 95vw;
  height: 610px;
  max-height: 600vh;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}


.bg-image{
   background-image: url('/backround.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: scroll;
   /* min-height: 100vh; */
   min-width: 100vw;
}

body {
  background-color: var(--background);
}

.stroke{
  color: #FA6602;
  -webkit-text-stroke: 3px #D3EFBE;  
}

@layer utilities {
  .stroke-layer {
    text-shadow:
      -4px -4px 0 lime,
       4px -4px 0 lime,
      -4px  4px 0 lime,
       4px  4px 0 lime;
  }
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-geist-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
